In [16]:
import pandas as pd
from pathlib import Path

In [17]:
pd.set_option('display.max_columns', None)

In [18]:
caminho = 'C:/Users/douglas.mendonca/OneDrive/Master/Relatorio_Controladoria/governanca_dw_controladoria/prefect_flows/pipeline_dre_lancamentos/data/processed/fato_dre_preparado.parquet'

In [19]:
dados = pd.read_parquet(caminho)

In [20]:
dados.head()

   id_tempo  id_item  id_natureza  id_detalhe  id_conta  id_regcid     valor
0  20250226        2           21           1        50        113 -536.9000
1  20250215        4           72          13        96        113   -3.6541
2  20250215        4           73          13        97        113   -4.9302
3  20250215        4           73          13        97        113   -6.0125
4  20250215        4           74          13        98        113   -7.3081