In [1]:
import pandas as pd
from pathlib import Path

In [2]:
pd.set_option('display.max_columns', None)

In [7]:
caminho = 'C:/Users/douglas.mendonca/OneDrive/Master/Relatorio_Controladoria/governanca_dw_controladoria/prefect_flows/pipeline_base_clientes/data/raw/clientes_imanager_2025-01-01.parquet'

In [8]:
dados = pd.read_parquet(caminho)

In [9]:
dados.head()

,data_posicao,id_regional_imanage,regional,cidade,descricaosituacaocontrato,tipo_documento,contratos,valor
0,2025-01-01,3,INATIVO,BAEPENDI,Cancelado,CNPJ,6,424.50
1,2025-01-01,3,INATIVO,BAEPENDI,Cancelado,CPF,236,16743.57
2,2025-01-01,3,INATIVO,CACHOEIRA PAULISTA,Cancelado,CNPJ,1,105.42
3,2025-01-01,3,INATIVO,CACHOEIRA PAULISTA,Cancelado,CPF,85,8172.31
4,2025-01-01,3,INATIVO,CAXAMBU,Cancelado,CNPJ,25,2770.34

In [13]:
caminho2 = 'C:/Users/douglas.mendonca/OneDrive/Master/Relatorio_Controladoria/governanca_dw_controladoria/prefect_flows/pipeline_base_clientes/data/staging/clientes_limpos_2025-01-01.parquet'

In [16]:
dados2 = pd.read_parquet(caminho2)

In [17]:
dados2.head()

,data,id_regional_imanager,regional,cidade,tipo_documento,aguardando_conexao,cancelado,conectado_ativo,conectado_inadimplente_parcial,conectado_inadimplente_total,inadimplente,pausado,qtde_contratos,total_clientes_ativos
0,2025-01-01,4,ITAUNA,FLORESTAL,CNPJ,0,6,0,0,0,0,0,6,0
1,2025-01-01,4,ITAUNA,FLORESTAL,CPF,1,596,24,0,0,0,0,621,24
2,2025-01-01,4,ITAUNA,IGARATINGA,CNPJ,0,7,0,0,0,0,0,7,0
3,2025-01-01,4,ITAUNA,IGARATINGA,CPF,0,466,37,0,2,0,1,506,39
4,2025-01-01,4,ITAUNA,ITAUNA,CNPJ,40,285,104,0,0,0,1,430,104

In [22]:
caminho3 = 'C:/Users/douglas.mendonca/OneDrive/Master/Relatorio_Controladoria/governanca_dw_controladoria/prefect_flows/pipeline_base_clientes/data/processed/fato_clientes_2025-01-01.parquet'

In [23]:
dados3 = pd.read_parquet(caminho3)

In [24]:
dados3.head()

,id_tempo,id_regional,id_cidade,tipo_documento,qtde_contratos,aguardando_conexao,cancelado,conectado_ativo,conectado_inadimplente_parcial,conectado_inadimplente_total,inadimplente,pausado,total_clientes_ativos
0,20250101,5,47,CNPJ,45,0,43,2,0,0,0,0,2
1,20250101,5,47,CPF,5358,2,5132,203,0,16,0,5,219
2,20250101,5,44,CNPJ,430,40,285,104,0,0,0,1,104
3,20250101,5,44,CPF,12288,5,10543,1629,4,94,0,13,1727
4,20250101,5,43,CNPJ,7,0,7,0,0,0,0,0,0